{
  "openapi": "3.1.0",
  "info": {
    "title": "Mermail API",
    "version": "1.0.0",
    "description": "Programmatic Mermail API for scripts, agents, and integrations.\n\n## Authentication\n\nAuthorize with a Bearer API key from **Settings → API Keys**:\n\n```\nAuthorization: Bearer mm_key_…\n```\n\n## Plans\n\nEach endpoint page shows plan badges (**Public**, **All plans**, or **Developer+**). Free can call the core catalog; Developer-gated paths need Developer or Enterprise.\n\n## Try it\n\nEvery endpoint page includes an interactive playground. Click **Try it**, paste your Bearer token, fill path/query/body fields (prefilled from examples), and send a live request to `https://console.mermail.app`. You can also copy the generated cURL / JavaScript / Python snippet.\n\n## Credits\n\n| Class | Cost |\n| --- | ---: |\n| read | 1 |\n| write | 2 |\n| email_send | 5 |\n| provision | 10 |\n| ai_light | 15 |\n| ai_heavy | 25 |\n",
    "contact": {
      "name": "Mermail",
      "email": "contact@mermail.app",
      "url": "https://mermail.app"
    }
  },
  "servers": [
    {
      "url": "https://console.mermail.app",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Public",
      "description": "No authentication"
    },
    {
      "name": "API keys",
      "description": "Create and revoke workspace API keys"
    },
    {
      "name": "Usage",
      "description": "Credits and email quotas"
    },
    {
      "name": "Workspaces",
      "description": "Workspaces, members, storage"
    },
    {
      "name": "Domains",
      "description": "Custom email domains (Developer+)"
    },
    {
      "name": "Mailboxes",
      "description": "Agent inboxes"
    },
    {
      "name": "Emails",
      "description": "Send, list, search, folders"
    },
    {
      "name": "AI agent",
      "description": "Mailbox agent chat"
    },
    {
      "name": "Task triage",
      "description": "Task triagers (Developer+)"
    },
    {
      "name": "RAG",
      "description": "Knowledge documents and recall"
    },
    {
      "name": "Integrations",
      "description": "Composio, Telegram, push"
    },
    {
      "name": "Affiliate",
      "description": "Affiliate program"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/status": {
      "get": {
        "summary": "Get API health status",
        "description": "**Plans:** `Public` (no auth)\n\nPublic health check for load balancers and uptime monitors. No authentication or credits required.",
        "tags": [
          "Public"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-badges": [
          {
            "name": "Public",
            "color": "grey"
          }
        ],
        "x-plan-access": [
          "public"
        ],
        "x-mint": {
          "metadata": {
            "tag": "Public",
            "title": "Get API health status",
            "sidebarTitle": "Get API health status"
          }
        }
      }
    },
    "/api/v1/config": {
      "get": {
        "summary": "Get public app config",
        "description": "**Plans:** `Public` (no auth)\n\nReturns public client configuration such as hosted domains, VAPID public key, and MemWal network settings. No authentication required.",
        "tags": [
          "Public"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Public configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "domains": [
                    "mail.example.com"
                  ],
                  "vapidPublicKey": "BNpublic…",
                  "webPushConfigured": true
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-badges": [
          {
            "name": "Public",
            "color": "grey"
          }
        ],
        "x-plan-access": [
          "public"
        ],
        "x-mint": {
          "metadata": {
            "tag": "Public",
            "title": "Get public app config",
            "sidebarTitle": "Get public app config"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/oauth-clients": {
      "get": {
        "summary": "List API keys",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nLists OAuth clients / API keys for the workspace. Requires workspace **admin**. Does **not** consume API credits. Secrets are never returned — only `tokenPreview`.",
        "tags": [
          "API keys"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          }
        ],
        "responses": {
          "200": {
            "description": "API key summaries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OAuthClientSummary"
                  }
                },
                "example": [
                  {
                    "id": "ocl_01xyz",
                    "name": "Postman",
                    "clientId": "mm_client_a1b2c3",
                    "tokenPreview": "mm_key_ab…",
                    "expiresAt": "2026-08-14T00:00:00.000Z",
                    "revokedAt": null,
                    "lastUsedAt": "2026-07-14T18:00:00.000Z",
                    "createdAt": "2026-07-01T10:00:00.000Z",
                    "status": "active"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "List API keys",
            "sidebarTitle": "List API keys"
          }
        }
      },
      "post": {
        "summary": "Create API key",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nCreates an API key for the workspace. Returns `apiKey` (`mm_key_…`) and `clientSecret` (**once**). Requires workspace **admin**. Free allows 1 key; Developer up to 5; Enterprise unlimited. Does **not** consume API credits.\n\nCopy the key immediately — Mermail does not show the full secret again.",
        "tags": [
          "API keys"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          }
        ],
        "responses": {
          "201": {
            "description": "API key created — store apiKey and clientSecret now",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthClientCreated"
                },
                "example": {
                  "id": "ocl_01xyz",
                  "name": "Postman",
                  "clientId": "mm_client_a1b2c3",
                  "clientSecret": "mm_secret_d4e5f6",
                  "apiKey": "mm_key_9f8e7d6c5b4a3210",
                  "expiresAt": "2026-08-14T00:00:00.000Z",
                  "createdAt": "2026-07-15T10:00:00.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Name missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Human-readable key name",
                    "example": "Postman"
                  },
                  "expiresInDays": {
                    "type": "integer",
                    "nullable": true,
                    "description": "Days until expiry. Omit or null for never.",
                    "example": 30
                  }
                }
              },
              "example": {
                "name": "Postman",
                "expiresInDays": 30
              }
            }
          }
        },
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "Create API key",
            "sidebarTitle": "Create API key"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/oauth-clients/{clientId}": {
      "delete": {
        "summary": "Revoke API key",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nRevokes an API key and all of its access tokens. Requires workspace **admin**. Does **not** consume API credits.",
        "tags": [
          "API keys"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          },
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "description": "OAuth client row id",
            "schema": {
              "type": "string"
            },
            "example": "ocl_01xyz"
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "API key not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Not found"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "Revoke API key",
            "sidebarTitle": "Revoke API key"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/usage/credits": {
      "get": {
        "summary": "Get API credit usage",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nReturns the workspace plan, billing period, credit limit, used credits, and remaining balance. Use this before running batch jobs against the sold API.\n\n**API credits:** 1 (read).",
        "tags": [
          "Usage"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          }
        ],
        "responses": {
          "200": {
            "description": "Credit usage for the current period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCreditUsage"
                },
                "example": {
                  "plan": "developer",
                  "periodStart": "2026-07-01T00:00:00.000Z",
                  "periodEnd": "2026-08-01T00:00:00.000Z",
                  "limit": 50000,
                  "used": 1240,
                  "remaining": 48760
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-credits": 1,
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "Get API credit usage",
            "sidebarTitle": "Get API credit usage"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/usage/email": {
      "get": {
        "summary": "Get email usage",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nReturns email send usage for the workspace subscription period (distinct from API credits).\n\n**API credits:** 1 (read).",
        "tags": [
          "Usage"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "plan": "developer",
                  "limit": 10000,
                  "used": 320,
                  "remaining": 9680
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-credits": 1,
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "Get email usage",
            "sidebarTitle": "Get email usage"
          }
        }
      }
    },
    "/api/v1/workspaces": {
      "get": {
        "summary": "List workspaces",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nLists workspaces the authenticated user can access, plus a small user admin flag.\n\n**API credits:** 1 (read).",
        "tags": [
          "Workspaces"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Workspace list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceListResponse"
                },
                "example": {
                  "user": {
                    "is_admin": false
                  },
                  "workspaces": [
                    {
                      "id": "ws_01abc",
                      "name": "Acme Agents",
                      "owner_address": "0xabc123def456",
                      "timezone": "America/New_York",
                      "role": "admin",
                      "mailbox_count": 2,
                      "storage": {
                        "provider": "harbor_r2",
                        "status": "ready",
                        "redundancy_enabled": true,
                        "storage_key_status": "ready",
                        "storage_key_last_error": null,
                        "space_id": "spc_01xyz",
                        "bucket_id": "bkt_01xyz",
                        "owner_address": "0xabc123def456",
                        "has_api_key": true,
                        "has_service_private_key": true,
                        "harbor_provisioning_status": "ready",
                        "harbor_last_error": null,
                        "r2_bucket_name": "mermail-ws-01abc",
                        "r2_provisioning_status": "ready",
                        "r2_last_error": null,
                        "last_error": null
                      },
                      "created_at": "2026-07-01T12:00:00.000Z",
                      "updated_at": "2026-07-15T08:00:00.000Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-credits": 1,
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "List workspaces",
            "sidebarTitle": "List workspaces"
          }
        }
      },
      "post": {
        "summary": "Create workspace",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nCreates a personal workspace for the authenticated user. A user may own only one workspace (conflict if one already exists).\n\n**API credits:** 2 (write).",
        "tags": [
          "Workspaces"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Workspace created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                },
                "example": {
                  "id": "ws_01abc",
                  "name": "Acme Agents",
                  "owner_address": "0xabc123def456",
                  "timezone": "America/New_York",
                  "role": "admin",
                  "mailbox_count": 2,
                  "storage": {
                    "provider": "harbor_r2",
                    "status": "ready",
                    "redundancy_enabled": true,
                    "storage_key_status": "ready",
                    "storage_key_last_error": null,
                    "space_id": "spc_01xyz",
                    "bucket_id": "bkt_01xyz",
                    "owner_address": "0xabc123def456",
                    "has_api_key": true,
                    "has_service_private_key": true,
                    "harbor_provisioning_status": "ready",
                    "harbor_last_error": null,
                    "r2_bucket_name": "mermail-ws-01abc",
                    "r2_provisioning_status": "ready",
                    "r2_last_error": null,
                    "last_error": null
                  },
                  "created_at": "2026-07-01T12:00:00.000Z",
                  "updated_at": "2026-07-15T08:00:00.000Z"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "409": {
            "description": "User already owns a workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Conflict"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120,
                    "description": "Display name hint (server may normalize)",
                    "example": "Acme Agents"
                  }
                }
              },
              "example": {
                "name": "Acme Agents"
              }
            }
          }
        },
        "x-credits": 2,
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "Create workspace",
            "sidebarTitle": "Create workspace"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}": {
      "get": {
        "summary": "Get workspace",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nReturns a single workspace the user can access.\n\n**API credits:** 1 (read).",
        "tags": [
          "Workspaces"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                },
                "example": {
                  "id": "ws_01abc",
                  "name": "Acme Agents",
                  "owner_address": "0xabc123def456",
                  "timezone": "America/New_York",
                  "role": "admin",
                  "mailbox_count": 2,
                  "storage": {
                    "provider": "harbor_r2",
                    "status": "ready",
                    "redundancy_enabled": true,
                    "storage_key_status": "ready",
                    "storage_key_last_error": null,
                    "space_id": "spc_01xyz",
                    "bucket_id": "bkt_01xyz",
                    "owner_address": "0xabc123def456",
                    "has_api_key": true,
                    "has_service_private_key": true,
                    "harbor_provisioning_status": "ready",
                    "harbor_last_error": null,
                    "r2_bucket_name": "mermail-ws-01abc",
                    "r2_provisioning_status": "ready",
                    "r2_last_error": null,
                    "last_error": null
                  },
                  "created_at": "2026-07-01T12:00:00.000Z",
                  "updated_at": "2026-07-15T08:00:00.000Z"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Not found"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-credits": 1,
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "Get workspace",
            "sidebarTitle": "Get workspace"
          }
        }
      },
      "put": {
        "summary": "Update workspace",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nUpdates workspace settings. Requires workspace **admin**. At least one of `name` or `timezone` is required.\n\n**API credits:** 2 (write).",
        "tags": [
          "Workspaces"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                },
                "example": {
                  "id": "ws_01abc",
                  "name": "Acme Agents",
                  "owner_address": "0xabc123def456",
                  "timezone": "America/New_York",
                  "role": "admin",
                  "mailbox_count": 2,
                  "storage": {
                    "provider": "harbor_r2",
                    "status": "ready",
                    "redundancy_enabled": true,
                    "storage_key_status": "ready",
                    "storage_key_last_error": null,
                    "space_id": "spc_01xyz",
                    "bucket_id": "bkt_01xyz",
                    "owner_address": "0xabc123def456",
                    "has_api_key": true,
                    "has_service_private_key": true,
                    "harbor_provisioning_status": "ready",
                    "harbor_last_error": null,
                    "r2_bucket_name": "mermail-ws-01abc",
                    "r2_provisioning_status": "ready",
                    "r2_last_error": null,
                    "last_error": null
                  },
                  "created_at": "2026-07-01T12:00:00.000Z",
                  "updated_at": "2026-07-15T08:00:00.000Z"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Acme Agents"
                  },
                  "timezone": {
                    "type": "string",
                    "nullable": true,
                    "example": "America/New_York"
                  }
                }
              },
              "example": {
                "name": "Acme Agents",
                "timezone": "America/New_York"
              }
            }
          }
        },
        "x-credits": 2,
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "Update workspace",
            "sidebarTitle": "Update workspace"
          }
        }
      },
      "delete": {
        "summary": "Delete workspace",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nDeletes a workspace. Requires workspace **admin**.\n\n**API credits:** 2 (write).",
        "tags": [
          "Workspaces"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-credits": 2,
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "Delete workspace",
            "sidebarTitle": "Delete workspace"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/storage": {
      "get": {
        "summary": "Get workspace storage",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nReturns Harbor / R2 storage provisioning status for the workspace.\n\n**API credits:** 1 (read).",
        "tags": [
          "Workspaces"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "provider": "harbor_r2",
                  "status": "ready",
                  "redundancy_enabled": true,
                  "storage_key_status": "ready",
                  "storage_key_last_error": null,
                  "space_id": "spc_01xyz",
                  "bucket_id": "bkt_01xyz",
                  "owner_address": "0xabc123def456",
                  "has_api_key": true,
                  "has_service_private_key": true,
                  "harbor_provisioning_status": "ready",
                  "harbor_last_error": null,
                  "r2_bucket_name": "mermail-ws-01abc",
                  "r2_provisioning_status": "ready",
                  "r2_last_error": null,
                  "last_error": null
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-credits": 1,
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "Get workspace storage",
            "sidebarTitle": "Get workspace storage"
          }
        }
      },
      "put": {
        "summary": "Update workspace storage",
        "description": "**Plans:** `Developer` · `Enterprise`\n\nUpdates storage settings. **Developer or Enterprise** plan required.\n\n**API credits:** 2 (write).",
        "tags": [
          "Workspaces"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "provider": "harbor_r2",
                  "status": "ready",
                  "redundancy_enabled": true,
                  "storage_key_status": "ready",
                  "storage_key_last_error": null,
                  "space_id": "spc_01xyz",
                  "bucket_id": "bkt_01xyz",
                  "owner_address": "0xabc123def456",
                  "has_api_key": true,
                  "has_service_private_key": true,
                  "harbor_provisioning_status": "ready",
                  "harbor_last_error": null,
                  "r2_bucket_name": "mermail-ws-01abc",
                  "r2_provisioning_status": "ready",
                  "r2_last_error": null,
                  "last_error": null
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {}
            }
          }
        },
        "x-credits": 2,
        "x-badges": [
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "Developer+",
            "title": "Update workspace storage",
            "sidebarTitle": "Update workspace storage"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/members": {
      "get": {
        "summary": "List workspace members",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nLists members and roles for the workspace.\n\n**API credits:** 1 (read).",
        "tags": [
          "Workspaces"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": [
                  {
                    "address": "0xabc123def456",
                    "email": "owner@acme.com",
                    "role": "admin",
                    "name": "Owner"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-credits": 1,
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "List workspace members",
            "sidebarTitle": "List workspace members"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/members/{memberId}": {
      "put": {
        "summary": "Update member role",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nUpdates a member role. `memberId` is the member's Sui wallet address. Requires workspace **admin**.\n\n**API credits:** 2 (write).",
        "tags": [
          "Workspaces"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "description": "Member wallet address",
            "schema": {
              "type": "string"
            },
            "example": "0xmember…"
          }
        ],
        "responses": {
          "200": {
            "description": "Role updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "updated"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Member not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Not found"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "role"
                ],
                "properties": {
                  "role": {
                    "type": "string",
                    "enum": [
                      "admin",
                      "member"
                    ],
                    "example": "member"
                  }
                }
              },
              "example": {
                "role": "member"
              }
            }
          }
        },
        "x-credits": 2,
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "Update member role",
            "sidebarTitle": "Update member role"
          }
        }
      },
      "delete": {
        "summary": "Remove member",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nRemoves a member from the workspace. Requires **admin**.\n\n**API credits:** 2 (write).",
        "tags": [
          "Workspaces"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "description": "Member wallet address",
            "schema": {
              "type": "string"
            },
            "example": "0xmember…"
          }
        ],
        "responses": {
          "204": {
            "description": "Removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-credits": 2,
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "Remove member",
            "sidebarTitle": "Remove member"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/invites": {
      "post": {
        "summary": "Invite member",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nSends a workspace invite email. Requires **admin**.\n\n**API credits:** 2 (write).",
        "tags": [
          "Workspaces"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          }
        ],
        "responses": {
          "201": {
            "description": "Invite created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "dev@acme.com"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "admin",
                      "member"
                    ],
                    "example": "member"
                  }
                }
              },
              "example": {
                "email": "dev@acme.com",
                "role": "member"
              }
            }
          }
        },
        "x-credits": 2,
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "Invite member",
            "sidebarTitle": "Invite member"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/invites/{inviteId}/resend": {
      "post": {
        "summary": "Resend invite",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nResends a pending invite. Requires **admin**.\n\n**API credits:** 2 (write).",
        "tags": [
          "Workspaces"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          },
          {
            "name": "inviteId",
            "in": "path",
            "required": true,
            "description": "Invite id",
            "schema": {
              "type": "string"
            },
            "example": "inv_01xyz"
          }
        ],
        "responses": {
          "200": {
            "description": "Invite resent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-credits": 2,
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "Resend invite",
            "sidebarTitle": "Resend invite"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/email-domains": {
      "get": {
        "summary": "List email domains",
        "description": "**Plans:** `Developer` · `Enterprise`\n\nLists custom email domains. **Developer or Enterprise** required.\n\n**API credits:** 1 (read).",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": [
                  {
                    "id": "ed_01xyz",
                    "workspace_id": "ws_01abc",
                    "domain": "mail.acme.com",
                    "provider": "resend",
                    "status": "pending",
                    "dns_records": [],
                    "last_error": null,
                    "verified_at": null
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-credits": 1,
        "x-badges": [
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "Developer+",
            "title": "List email domains",
            "sidebarTitle": "List email domains"
          }
        }
      },
      "post": {
        "summary": "Add email domain",
        "description": "**Plans:** `Developer` · `Enterprise`\n\nStarts custom domain provisioning. Domain must be a subdomain (for example `mail.acme.com`). **Developer or Enterprise** required.\n\n**API credits:** 10 (provision).",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          }
        ],
        "responses": {
          "201": {
            "description": "Domain created (DNS verification pending)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailDomain"
                },
                "example": {
                  "id": "ed_01xyz",
                  "workspace_id": "ws_01abc",
                  "domain": "mail.acme.com",
                  "provider": "resend",
                  "status": "pending",
                  "provider_domain_id": "d_01",
                  "region": "us-east-1",
                  "dns_records": [
                    {
                      "type": "TXT",
                      "name": "resend._domainkey.mail.acme.com",
                      "value": "p=MIGf…"
                    }
                  ],
                  "last_error": null,
                  "verified_at": null,
                  "created_at": "2026-07-15T10:00:00.000Z",
                  "updated_at": "2026-07-15T10:00:00.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Invalid domain shape",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domain"
                ],
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "Subdomain used for agent mailboxes",
                    "example": "mail.acme.com"
                  }
                }
              },
              "example": {
                "domain": "mail.acme.com"
              }
            }
          }
        },
        "x-credits": 10,
        "x-badges": [
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "Developer+",
            "title": "Add email domain",
            "sidebarTitle": "Add email domain"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/email-domains/{domainId}": {
      "delete": {
        "summary": "Delete email domain",
        "description": "**Plans:** `Developer` · `Enterprise`\n\nRemoves a custom domain. **Developer or Enterprise** required.\n\n**API credits:** 2 (write).",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          },
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "description": "Email domain id",
            "schema": {
              "type": "string"
            },
            "example": "ed_01xyz"
          }
        ],
        "responses": {
          "200": {
            "description": "Domain deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-credits": 2,
        "x-badges": [
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "Developer+",
            "title": "Delete email domain",
            "sidebarTitle": "Delete email domain"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/email-domains/{domainId}/verify": {
      "post": {
        "summary": "Verify email domain",
        "description": "**Plans:** `Developer` · `Enterprise`\n\nChecks DNS records and marks the domain verified when ready. **Developer or Enterprise** required.\n\n**API credits:** 2 (write).",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          },
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "description": "Email domain id",
            "schema": {
              "type": "string"
            },
            "example": "ed_01xyz"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "id": "ed_01xyz",
                  "status": "verified",
                  "verified_at": "2026-07-15T11:00:00.000Z"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-credits": 2,
        "x-badges": [
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "Developer+",
            "title": "Verify email domain",
            "sidebarTitle": "Verify email domain"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/mailboxes": {
      "get": {
        "summary": "List workspace mailboxes",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nLists mailboxes in a workspace.\n\n**API credits:** 1 (read).",
        "tags": [
          "Mailboxes"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
[...]
