{
  "openapi": "3.1.0",
  "x-mermail-tool-profiles": {
    "agent-inbox": {
      "description": "Opt-in least-privilege MCP profile. Hosted clients should connect to `/mcp?profile=agent-inbox`; clients that support fixed headers may instead send `x-mermail-tool-profile: agent-inbox` on every stateless MCP POST. The profile forces metadata-only, clean-scan, agent-safe list/search results; clean-scan, agent-safe get results capped at 12000 body characters; and a 128000-character JSON tool-result ceiling. `/mcp` and an absent selector keep the full catalog.",
      "recommendedUrl": "/mcp?profile=agent-inbox",
      "defaultUrl": "/mcp",
      "header": {
        "name": "x-mermail-tool-profile",
        "value": "agent-inbox"
      },
      "unknownValueError": {
        "status": 400,
        "code": "invalid_mcp_tool_profile"
      },
      "operations": [
        {
          "name": "get_api_credit_usage",
          "method": "GET",
          "path": "/api/v1/workspaces/{workspaceId}/usage/credits"
        },
        {
          "name": "list_workspaces",
          "method": "GET",
          "path": "/api/v1/workspaces"
        },
        {
          "name": "get_workspace",
          "method": "GET",
          "path": "/api/v1/workspaces/{workspaceId}"
        },
        {
          "name": "list_email_domains",
          "method": "GET",
          "path": "/api/v1/workspaces/{workspaceId}/email-domains"
        },
        {
          "name": "list_workspace_mailboxes",
          "method": "GET",
          "path": "/api/v1/workspaces/{workspaceId}/mailboxes"
        },
        {
          "name": "list_mailboxes",
          "method": "GET",
          "path": "/api/v1/mailboxes"
        },
        {
          "name": "create_mailbox",
          "method": "POST",
          "path": "/api/v1/mailboxes"
        },
        {
          "name": "get_mailbox",
          "method": "GET",
          "path": "/api/v1/mailboxes/{mailboxId}"
        },
        {
          "name": "list_emails",
          "method": "GET",
          "path": "/api/v1/mailboxes/{mailboxId}/emails"
        },
        {
          "name": "search_emails",
          "method": "GET",
          "path": "/api/v1/mailboxes/{mailboxId}/search"
        },
        {
          "name": "get_email",
          "method": "GET",
          "path": "/api/v1/mailboxes/{mailboxId}/emails/{emailId}"
        }
      ]
    }
  },
  "info": {
    "title": "Mermail API",
    "version": "1.0.0",
    "description": "Programmatic Mermail API for scripts, agents, and integrations.\n\n## Authentication\n\nAuthorize with an API key from **Settings → API Keys**:\n\n```\nx-api-key: sk-proj-…\n```\n\n## Plans\n\nEach endpoint page shows plan badges (**Public**, **All plans**, or **Developer+**). Free can call the core catalog; Developer-gated paths need Developer or Enterprise.\n\n## Try it\n\nEvery endpoint page includes an interactive playground. Click **Try it**, paste your API key into the `x-api-key` field, fill path/query/body fields (prefilled from examples), and send a live request to `https://console.mermail.app`. You can also copy the generated cURL / JavaScript / Python snippet.\n\n## Credits\n\nCredits are workspace API-usage units, not currency amounts.\n\n| Class | Cost |\n| --- | ---: |\n| read | 1 |\n| write | 2 |\n| email_send | 5 |\n| provision | 10 |\n| ai_light | 15 |\n| ai_heavy | 25 |\n",
    "contact": {
      "name": "Mermail",
      "email": "contact@mermail.app",
      "url": "https://mermail.app"
    }
  },
  "servers": [
    {
      "url": "https://console.mermail.app",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Public",
      "description": "No authentication"
    },
    {
      "name": "Usage",
      "description": "Credits and email quotas"
    },
    {
      "name": "Workspaces",
      "description": "Workspaces, members, storage"
    },
    {
      "name": "Domains",
      "description": "Custom email domains (Developer+)"
    },
    {
      "name": "Mailboxes",
      "description": "Agent inboxes"
    },
    {
      "name": "Emails",
      "description": "Send, list, search, folders"
    },
    {
      "name": "AI agent",
      "description": "Mailbox agent chat"
    },
    {
      "name": "Task triage",
      "description": "Task triagers (all plans)"
    },
    {
      "name": "RAG",
      "description": "Knowledge documents and recall"
    },
    {
      "name": "Integrations",
      "description": "Composio, Telegram, push"
    },
    {
      "name": "Affiliate",
      "description": "Affiliate program"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/api/status": {
      "get": {
        "summary": "Get API health status",
        "description": "**Plans:** `Public` (no auth)\n\nPublic health check for load balancers and uptime monitors. No authentication or credits required.",
        "tags": [
          "Public"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-badges": [
          {
            "name": "Public",
            "color": "grey"
          }
        ],
        "x-plan-access": [
          "public"
        ],
        "x-mint": {
          "metadata": {
            "tag": "Public",
            "title": "Get API health status",
            "sidebarTitle": "Get API health status"
          }
        }
      }
    },
    "/api/v1/config": {
      "get": {
        "summary": "Get public app config",
        "description": "**Plans:** `Public` (no auth)\n\nReturns public client configuration such as hosted domains, VAPID public key, and MemWal network settings. No authentication required.",
        "tags": [
          "Public"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Public configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "domains": [
                    "mail.example.com"
                  ],
                  "vapidPublicKey": "BNpublic…",
                  "webPushConfigured": true
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-badges": [
          {
            "name": "Public",
            "color": "grey"
          }
        ],
        "x-plan-access": [
          "public"
        ],
        "x-mint": {
          "metadata": {
            "tag": "Public",
            "title": "Get public app config",
            "sidebarTitle": "Get public app config"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/usage/credits": {
      "get": {
        "summary": "Get API credit usage",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nReturns sold-API credit usage for the current billing period (snake_case fields). Free workspaces use the UTC calendar month; paid workspaces use the subscription period. `limit` / `remaining` are `null` when the plan has unlimited credits. Requires workspace membership. This call itself costs **1** read credit.\n\n**API credits:** 1 (read).",
        "tags": [
          "Usage"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          }
        ],
        "responses": {
          "200": {
            "description": "Credit usage for the current period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCreditUsage"
                },
                "example": {
                  "plan": "developer",
                  "plan_name": "Developer",
                  "period_start": "2026-07-01T00:00:00.000Z",
                  "period_end": "2026-08-01T00:00:00.000Z",
                  "limit": 50000,
                  "used": 1240,
                  "remaining": 48760
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          },
          "503": {
            "description": "Paid subscription period is stale / out of range",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "subscription_period_stale",
                  "code": "subscription_period_stale"
                }
              }
            }
          }
        },
        "x-credits": 1,
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "Get API credit usage",
            "sidebarTitle": "Get API credit usage"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/usage/email": {
      "get": {
        "summary": "Get email usage",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nReturns outbound email send usage (recipient counts) for the workspace subscription period — distinct from API credits. Field is `quota` (not `limit`). Includes per-mailbox breakdown and `legacy_sent_count` for pre-ledger sends. Requires workspace membership.\n\n**API credits:** 1 (read).",
        "tags": [
          "Usage"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          }
        ],
        "responses": {
          "200": {
            "description": "Email send usage for the current period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailUsage"
                },
                "example": {
                  "workspace_id": "ws_01abc",
                  "plan": "developer",
                  "plan_name": "Developer",
                  "period_start": "2026-07-01T00:00:00.000Z",
                  "period_end": "2026-08-01T00:00:00.000Z",
                  "quota": 10000,
                  "used": 320,
                  "remaining": 9680,
                  "legacy_sent_count": 12,
                  "mailboxes": [
                    {
                      "id": "support@mail.acme.com",
                      "name": "Acme Support",
                      "email": "support@mail.acme.com",
                      "sent": 200,
                      "providers": {
                        "cloudflare_email": 180,
                        "legacy": 20
                      }
                    },
                    {
                      "id": "ops@mail.acme.com",
                      "name": "Acme Ops",
                      "email": "ops@mail.acme.com",
                      "sent": 120,
                      "providers": {
                        "resend": 120
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-credits": 1,
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "Get email usage",
            "sidebarTitle": "Get email usage"
          }
        }
      }
    },
    "/api/v1/workspaces": {
      "get": {
        "summary": "List workspaces",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nLists workspaces the caller can access. Response shape is `{ user, workspaces }`. With an API key (`x-api-key`), `workspaces` is limited to the **single workspace** the key is bound to.\n\n**API credits:** 1 (read).",
        "tags": [
          "Workspaces"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Workspace list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceListResponse"
                },
                "example": {
                  "user": {
                    "is_admin": false
                  },
                  "workspaces": [
                    {
                      "id": "ws_01abc",
                      "name": "Acme Agents",
                      "owner_address": "0xabc123def456",
                      "timezone": "America/New_York",
                      "role": "admin",
                      "mailbox_count": 2,
                      "storage": {
                        "provider": "harbor_r2",
                        "status": "ready",
                        "redundancy_enabled": true,
                        "storage_key_status": "ready",
                        "storage_key_last_error": null,
                        "space_id": "spc_01xyz",
                        "bucket_id": "bkt_01xyz",
                        "owner_address": "0xabc123def456",
                        "has_api_key": true,
                        "has_service_private_key": true,
                        "harbor_provisioning_status": "ready",
                        "harbor_last_error": null,
                        "r2_bucket_name": "mermail-ws-01abc",
                        "r2_provisioning_status": "ready",
                        "r2_last_error": null,
                        "last_error": null
                      },
                      "created_at": "2026-07-01T12:00:00.000Z",
                      "updated_at": "2026-07-15T08:00:00.000Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-credits": 1,
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "List workspaces",
            "sidebarTitle": "List workspaces"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}": {
      "get": {
        "summary": "Get workspace",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nReturns a single workspace the caller can access (includes nested `storage`). With an API key, `workspaceId` must match the key’s workspace (`403` otherwise).\n\n**API credits:** 1 (read).",
        "tags": [
          "Workspaces"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                },
                "example": {
                  "id": "ws_01abc",
                  "name": "Acme Agents",
                  "owner_address": "0xabc123def456",
                  "timezone": "America/New_York",
                  "role": "admin",
                  "mailbox_count": 2,
                  "storage": {
                    "provider": "harbor_r2",
                    "status": "ready",
                    "redundancy_enabled": true,
                    "storage_key_status": "ready",
                    "storage_key_last_error": null,
                    "space_id": "spc_01xyz",
                    "bucket_id": "bkt_01xyz",
                    "owner_address": "0xabc123def456",
                    "has_api_key": true,
                    "has_service_private_key": true,
                    "harbor_provisioning_status": "ready",
                    "harbor_last_error": null,
                    "r2_bucket_name": "mermail-ws-01abc",
                    "r2_provisioning_status": "ready",
                    "r2_last_error": null,
                    "last_error": null
                  },
                  "created_at": "2026-07-01T12:00:00.000Z",
                  "updated_at": "2026-07-15T08:00:00.000Z"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Workspace not found"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-credits": 1,
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "Get workspace",
            "sidebarTitle": "Get workspace"
          }
        }
      },
      "put": {
        "summary": "Update workspace",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nUpdates workspace settings. Requires workspace **admin**. At least one of `name` or `timezone` is required (`timezone` may be `null` to clear). With an API key, `workspaceId` must match the key’s workspace.\n\n**API credits:** 2 (write).",
        "tags": [
          "Workspaces"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                },
                "example": {
                  "id": "ws_01abc",
                  "name": "Acme Agents",
                  "owner_address": "0xabc123def456",
                  "timezone": "America/New_York",
                  "role": "admin",
                  "mailbox_count": 2,
                  "storage": {
                    "provider": "harbor_r2",
                    "status": "ready",
                    "redundancy_enabled": true,
                    "storage_key_status": "ready",
                    "storage_key_last_error": null,
                    "space_id": "spc_01xyz",
                    "bucket_id": "bkt_01xyz",
                    "owner_address": "0xabc123def456",
                    "has_api_key": true,
                    "has_service_private_key": true,
                    "harbor_provisioning_status": "ready",
                    "harbor_last_error": null,
                    "r2_bucket_name": "mermail-ws-01abc",
                    "r2_provisioning_status": "ready",
                    "r2_last_error": null,
                    "last_error": null
                  },
                  "created_at": "2026-07-01T12:00:00.000Z",
                  "updated_at": "2026-07-15T08:00:00.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Validation error (missing fields or invalid timezone)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid timezone"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120,
                    "example": "Acme Agents"
                  },
                  "timezone": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "example": "America/New_York",
                    "description": "IANA timezone, or null to clear"
                  }
                }
              },
              "example": {
                "name": "Acme Agents",
                "timezone": "America/New_York"
              }
            }
          }
        },
        "x-credits": 2,
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "Update workspace",
            "sidebarTitle": "Update workspace"
          }
        }
      },
      "delete": {
        "summary": "Delete workspace",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nDeletes a workspace and tombstones its blobs. Requires workspace **admin**. Returns **204** with an empty body.\n\n**API credits:** 2 (write).",
        "tags": [
          "Workspaces"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-credits": 2,
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "Delete workspace",
            "sidebarTitle": "Delete workspace"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/storage": {
      "get": {
        "summary": "Get workspace storage",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nReturns Harbor / R2 storage provisioning status wrapped as `{ storage }`. Requires workspace **admin**.\n\n**API credits:** 1 (read).",
        "tags": [
          "Workspaces"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "storage": {
                    "provider": "harbor_r2",
                    "status": "ready",
                    "redundancy_enabled": true,
                    "storage_key_status": "ready",
                    "storage_key_last_error": null,
                    "space_id": "spc_01xyz",
                    "bucket_id": "bkt_01xyz",
                    "owner_address": "0xabc123def456",
                    "has_api_key": true,
                    "has_service_private_key": true,
                    "harbor_provisioning_status": "ready",
                    "harbor_last_error": null,
                    "r2_bucket_name": "mermail-ws-01abc",
                    "r2_provisioning_status": "ready",
                    "r2_last_error": null,
                    "last_error": null
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-credits": 1,
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "Get workspace storage",
            "sidebarTitle": "Get workspace storage"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/members": {
      "get": {
        "summary": "List workspace members",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nReturns `{ members, invites }`. `invites` (with `invite_url`) is only populated for workspace **admins**; members see an empty `invites` array. `memberId` elsewhere is the member’s `user_address` (Sui wallet).\n\n**API credits:** 1 (read).",
        "tags": [
          "Workspaces"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "members": [
                    {
                      "user_address": "0xabc123def456",
                      "email": "owner@acme.com",
                      "name": "Owner",
                      "role": "admin",
                      "display_role": "owner",
                      "created_at": "2026-07-01T12:00:00.000Z"
                    },
                    {
                      "user_address": "0xmember…",
                      "email": "dev@acme.com",
                      "name": "Dev",
                      "role": "member",
                      "display_role": "member",
                      "created_at": "2026-07-10T09:00:00.000Z"
                    }
                  ],
                  "invites": [
                    {
                      "id": "inv_01xyz",
                      "email": "new@acme.com",
                      "role": "member",
                      "invite_url": "https://console.mermail.app/invite/…",
                      "created_at": "2026-07-15T08:00:00.000Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-credits": 1,
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "List workspace members",
            "sidebarTitle": "List workspace members"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/members/{memberId}": {
      "put": {
        "summary": "Update member role",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nUpdates a member role. `memberId` is the member's Sui wallet address (`user_address`). Requires workspace **admin**. Owners cannot be demoted; the last admin cannot be demoted.\n\n**API credits:** 2 (write).",
        "tags": [
          "Workspaces"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "description": "Member wallet address",
            "schema": {
              "type": "string"
            },
            "example": "0xmember…"
          }
        ],
        "responses": {
          "200": {
            "description": "Role updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "updated"
                    }
                  }
                },
                "example": {
                  "status": "updated"
                }
              }
            }
          },
          "400": {
            "description": "Protected role change",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Workspace owners cannot be demoted"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Member not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Member not found"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "role"
                ],
                "properties": {
                  "role": {
                    "type": "string",
                    "enum": [
                      "admin",
                      "member"
                    ],
                    "example": "member"
                  }
                }
              },
              "example": {
                "role": "member"
              }
            }
          }
        },
        "x-credits": 2,
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "Update member role",
            "sidebarTitle": "Update member role"
          }
        }
      },
      "delete": {
        "summary": "Remove member",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nRemoves a member from the workspace. Requires **admin**. Owners cannot be removed. Returns **204** with an empty body.\n\n**API credits:** 2 (write).",
        "tags": [
          "Workspaces"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "description": "Member wallet address",
            "schema": {
              "type": "string"
            },
            "example": "0xmember…"
          }
        ],
        "responses": {
          "204": {
            "description": "Removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-credits": 2,
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "Remove member",
            "sidebarTitle": "Remove member"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/invites": {
      "post": {
        "summary": "Invite member",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nInvites a user by email. Requires **admin**. If the email already belongs to a Mermail user, they may be added immediately (`member_added`); otherwise a pending invite is created (`invited` / `invite_updated`).\n\n**API credits:** 2 (write).",
        "tags": [
          "Workspaces"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          }
        ],
        "responses": {
          "201": {
            "description": "Invite result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "invited",
                        "invite_updated",
                        "member_added"
                      ]
                    },
                    "invite_id": {
                      "type": "string"
                    },
                    "invite_url": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "invited",
                  "invite_id": "inv_01xyz",
                  "invite_url": "https://console.mermail.app/invite/…"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "dev@acme.com"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "admin",
                      "member"
                    ],
                    "default": "member",
                    "example": "member"
                  }
                }
              },
              "example": {
                "email": "dev@acme.com",
                "role": "member"
              }
            }
          }
        },
        "x-credits": 2,
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "Invite member",
            "sidebarTitle": "Invite member"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/invites/{inviteId}/resend": {
      "post": {
        "summary": "Resend invite",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nResends a pending invite email. Requires **admin**.\n\n**API credits:** 2 (write).",
        "tags": [
          "Workspaces"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          },
          {
            "name": "inviteId",
            "in": "path",
            "required": true,
            "description": "Invite id",
            "schema": {
              "type": "string"
            },
            "example": "inv_01xyz"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "status": "resent",
                  "invite_id": "inv_01xyz",
                  "invite_url": "https://console.mermail.app/invite/…"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-credits": 2,
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "Resend invite",
            "sidebarTitle": "Resend invite"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/email-domains": {
      "get": {
        "summary": "List email domains",
        "description": "**Plans:** `Developer` · `Enterprise`\n\nLists active custom email domains for a workspace (excludes tombstoned `deleted` rows). Requires workspace membership. **Developer or Enterprise** plan required.\n\n**API credits:** 1 (read).",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": [
                  {
                    "id": "ed_01xyz",
                    "workspace_id": "ws_01abc",
                    "domain": "mail.acme.com",
                    "provider": "resend",
                    "status": "pending",
                    "provider_domain_id": "d_01",
                    "region": "us-east-1",
                    "dns_records": [
                      {
                        "type": "TXT",
                        "name": "resend._domainkey.mail.acme.com",
                        "value": "p=MIGf…"
                      },
                      {
                        "type": "MX",
                        "name": "mail.acme.com",
                        "value": "feedback-smtp.us-east-1.amazonses.com"
                      }
                    ],
                    "last_error": null,
                    "verified_at": null,
                    "created_at": "2026-07-15T10:00:00.000Z",
                    "updated_at": "2026-07-15T10:00:00.000Z"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-credits": 1,
        "x-badges": [
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "Developer+",
            "title": "List email domains",
            "sidebarTitle": "List email domains"
          }
        }
      },
      "post": {
        "summary": "Add email domain",
        "description": "**Plans:** `Developer` · `Enterprise`\n\nStarts custom domain provisioning with Resend. Domain must be a **subdomain** with ≥3 labels (for example `mail.acme.com` or `support.yourdomain.com`) — apex domains are rejected. Requires workspace **admin**. Subject to plan custom-domain limits. **Developer or Enterprise** required. Returns **201**. Costs **provision** credits (10).\n\n**API credits:** 10 (provision).",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          }
        ],
        "responses": {
          "201": {
            "description": "Domain created (DNS verification pending)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailDomain"
                },
                "example": {
                  "id": "ed_01xyz",
                  "workspace_id": "ws_01abc",
                  "domain": "mail.acme.com",
                  "provider": "resend",
                  "status": "pending",
                  "provider_domain_id": "d_01",
                  "region": "us-east-1",
                  "dns_records": [
                    {
                      "type": "TXT",
                      "name": "resend._domainkey.mail.acme.com",
                      "value": "p=MIGf…"
                    },
                    {
                      "type": "MX",
                      "name": "mail.acme.com",
                      "value": "feedback-smtp.us-east-1.amazonses.com"
                    }
                  ],
                  "last_error": null,
                  "verified_at": null,
                  "created_at": "2026-07-15T10:00:00.000Z",
                  "updated_at": "2026-07-15T10:00:00.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Invalid domain shape (e.g. apex domain)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Use a custom subdomain such as support.yourdomain.com or mail.yourdomain.com."
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Plan limit or Free plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Upgrade to Developer to add custom email domains."
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domain"
                ],
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "Custom subdomain used for agent mailboxes",
                    "example": "mail.acme.com"
                  }
                }
              },
              "example": {
                "domain": "mail.acme.com"
              }
            }
          }
        },
        "x-credits": 10,
        "x-badges": [
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "Developer+",
            "title": "Add email domain",
            "sidebarTitle": "Add email domain"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/email-domains/{domainId}": {
      "delete": {
        "summary": "Delete email domain",
        "description": "**Plans:** `Developer` · `Enterprise`\n\nRemoves the domain from Resend and deletes the local row. Fails with **409** if any mailboxes still use the domain. Requires workspace **admin**. **Developer or Enterprise** required. Returns `{ status: \"deleted\" }` (HTTP 200).\n\n**API credits:** 2 (write).",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          },
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "description": "Email domain id",
            "schema": {
              "type": "string"
            },
            "example": "ed_01xyz"
          }
        ],
        "responses": {
          "200": {
            "description": "Domain deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "deleted"
                    }
                  }
                },
                "example": {
                  "status": "deleted"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Email domain not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Email domain not found"
                }
              }
            }
          },
          "409": {
            "description": "Mailboxes still attached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Remove mailboxes from this domain before deleting it."
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-credits": 2,
        "x-badges": [
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "Developer+",
            "title": "Delete email domain",
            "sidebarTitle": "Delete email domain"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/email-domains/{domainId}/verify": {
      "post": {
        "summary": "Verify email domain",
        "description": "**Plans:** `Developer` · `Enterprise`\n\nAsks Resend to re-check DNS and returns the updated domain object. `verified_at` is set when `status` becomes `verified`. Requires workspace **admin**. **Developer or Enterprise** required.\n\n**Note:** This path is metered as **provision** (10 credits) because all `POST …/email-domains…` routes share that credit class.\n\n**API credits:** 10 (provision).",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          },
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "description": "Email domain id",
            "schema": {
              "type": "string"
            },
            "example": "ed_01xyz"
          }
        ],
        "responses": {
          "200": {
            "description": "Domain verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailDomain"
                },
                "example": {
                  "id": "ed_01xyz",
                  "workspace_id": "ws_01abc",
                  "domain": "mail.acme.com",
                  "provider": "resend",
                  "status": "verified",
                  "provider_domain_id": "d_01",
                  "region": "us-east-1",
                  "dns_records": [
                    {
                      "type": "TXT",
                      "name": "resend._domainkey.mail.acme.com",
                      "value": "p=MIGf…"
                    },
                    {
                      "type": "MX",
                      "name": "mail.acme.com",
                      "value": "feedback-smtp.us-east-1.amazonses.com"
                    }
                  ],
                  "last_error": null,
                  "verified_at": "2026-07-15T11:00:00.000Z",
                  "created_at": "2026-07-15T10:00:00.000Z",
                  "updated_at": "2026-07-15T11:00:00.000Z"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Email domain not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Email domain not found"
                }
              }
            }
          },
          "409": {
            "description": "Missing provider domain id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Email domain is missing a Resend domain id"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-credits": 10,
        "x-badges": [
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "Developer+",
            "title": "Verify email domain",
            "sidebarTitle": "Verify email domain"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/mailboxes": {
      "get": {
        "summary": "List workspace mailboxes",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nLists mailboxes in a workspace. Each item includes `inbox_unread_by_category`. Requires workspace membership. API keys are bound to one workspace.\n\n**API credits:** 1 (read).",
        "tags": [
          "Mailboxes"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "description": "Workspace id",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": [
                  {
                    "id": "support@mail.acme.com",
                    "public_id": "aaaaaaaa-bbbb-4ccc-8ddd-eeeeeeeeeeee",
                    "workspace_id": "ws_01abc",
                    "email": "support@mail.acme.com",
                    "name": "Acme Support",
                    "email_domain_id": "ed_01xyz",
                    "inbound_provider": "cloudflare_routing",
                    "outbound_provider": "cloudflare_email",
                    "provider_metadata": {
                      "domain": "mail.acme.com",
                      "provider": "resend"
                    },
                    "bucket_id": "bkt_01xyz",
                    "settings": {
                      "forwarding": {
                        "enabled": false,
                        "email": ""
                      },
                      "signature": {
                        "enabled": false,
                        "text": ""
                      },
                      "autoReply": {
                        "enabled": false,
                        "subject": "",
                        "message": ""
                      },
                      "agentAutoResponse": {
                        "requireApproval": true
                      },
                      "fromName": "Acme Support"
                    },
                    "disabled_at": null,
                    "disabled_reason": null,
                    "can_receive": true,
                    "receiving_status": "ready",
                    "welcome_onboarding_status": "pending",
                    "inbox_unread_by_category": {
                      "customer_support": 3,
                      "partnership": 0,
                      "technical": 1,
                      "other": 2
                    }
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-credits": 1,
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "List workspace mailboxes",
            "sidebarTitle": "List workspace mailboxes"
          }
        }
      }
    },
    "/api/v1/mailboxes": {
      "get": {
        "summary": "List mailboxes",
        "description": "**Plans:** `Free` · `Developer` · `Enterprise`\n\nLists mailboxes visible to the caller. Pass `workspaceId` to scope a session user; API keys are always scoped to their bound workspace. Each item includes `inbox_unread_by_category`.\n\n**API credits:** 1 (read).",
        "tags": [
          "Mailboxes"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "query",
            "required": false,
            "description": "Filter by workspace id (session users). API keys ignore cross-workspace values and stay on the key’s workspace.",
            "schema": {
              "type": "string"
            },
            "example": "ws_01abc"
          }
        ],
        "responses": {
          "200": {
            "description": "Mailbox list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Mailbox"
                  }
                },
                "example": [
                  {
                    "id": "support@mail.acme.com",
                    "public_id": "aaaaaaaa-bbbb-4ccc-8ddd-eeeeeeeeeeee",
                    "workspace_id": "ws_01abc",
                    "email": "support@mail.acme.com",
                    "name": "Acme Support",
                    "email_domain_id": "ed_01xyz",
                    "inbound_provider": "cloudflare_routing",
                    "outbound_provider": "cloudflare_email",
                    "provider_metadata": {
                      "domain": "mail.acme.com",
                      "provider": "resend"
                    },
                    "bucket_id": "bkt_01xyz",
                    "settings": {
                      "forwarding": {
                        "enabled": false,
                        "email": ""
                      },
                      "signature": {
                        "enabled": false,
                        "text": ""
                      },
                      "autoReply": {
                        "enabled": false,
                        "subject": "",
                        "message": ""
                      },
                      "agentAutoResponse": {
                        "requireApproval": true
                      },
                      "fromName": "Acme Support"
                    },
                    "disabled_at": null,
                    "disabled_reason": null,
                    "can_receive": true,
                    "receiving_status": "ready",
                    "welcome_onboarding_status": "pending",
                    "inbox_unread_by_category": {
                      "customer_support": 3,
                      "partnership": 0,
                      "technical": 1,
                      "other": 2
                    }
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked API key / token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          },
          "402": {
            "description": "API credits exhausted for this workspace period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid request"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — plan gate, wrong workspace, or missing role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Forbidden"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (workspace RPM or email send limits)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Too many requests"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit window resets"
              }
            }
          }
        },
        "x-credits": 1,
        "x-badges": [
          {
            "name": "Free",
            "color": "green"
          },
          {
            "name": "Developer",
            "color": "blue"
          },
          {
            "name": "Enterprise",
            "color": "purple"
          }
        ],
        "x-plan-access": [
          "free",
          "developer",
          "enterprise"
        ],
        "x-mint": {
          "metadata": {
            "tag": "All plans",
            "title": "List mailboxes",
            "sidebarTitle": "List mailboxes"
          }
        }
      },
      "post": {
        "summary": "Create mailbox",
[...]
